<h1> TEST </h1>
<div class="registration">
        <h2> Registration </h2>
        <div class="form">
          <form method="POST" action="/users/register">
            <input type="text" name="username" value="username"/> <br />
            <input type="text" name="password" value="password"/> <br />

            <input type="submit" value="register" />
          </form>
        </div>
      </div>

<div class="login">
  <h2> Login </h2>
  <div class="form">
    <form method="POST" action="/users/login">
      <input type="text" name="username" value="username"/> <br />
      <input type="text" name="password" value="password"/> <br />

      <input type="submit" value="login" />
    </form>
  </div>
</div>
